.footer {
  padding-right: 10vh;
  /*top: 40%;*/
}


.line {
  border: 1px solid #E8E8E8;
  width: 90%;
}

.footer ul {
  display: flex;
  justify-content: flex-end;
}

.footer a {
  padding-left: 4vh;
}

.logo {
  margin-right: auto;
}

/*---------Mobile design-------------*/
@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .footer ul{
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin: 0 auto;
  }
  .footer li {
    display: flex;
    justify-content: space-around;
    padding: 1vh;
  }
}
