.nav ul{
  display: flex;
  justify-content: flex-end;
}

.nav {
  background-color: rgba(0,0,0,0);
  padding-top: 2vh;
}

.nav a {
  color: #fff !important;
}

.nav li {
  padding-left: 2vh;
  padding-right: 4vh;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.amanda{
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
}
