.ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.ready p {
  width: 800px;
  text-align: center;
  padding-top: 22px;
}

.ready h2{
  font-weight: lighter;
}

/*---------Mobile design-------------*/
@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .ready {
    width: 100%;
    /*overflow: auto;*/
  }

  .ready p {
    width: 80%;
  }

  .ready h2{
    width: 80%;
    text-align: center;
  }
}
