.sample {
  display: flex;
  /*padding-top: 40px;*/
  padding: 40px 4vh 0 4vh;
  margin: 0 2vh 0 2vh;
}

.sample p {
  padding-top: 22px;
  padding-right: 4vh;
  /*width: 500px;*/
}

/*.sample {
  width: 100%;
}

.image{
  position: absolute;
}

.stockimage{
  background-image: linear-gradient(#ee2e1d, #ffb1b5, url("../images/hero-image.png"));
}

*/
/*.playbnt{
  display: flex;
  justify-content: center;

}
*/

